.buttonClass {
    max-width: 30rem;
    margin: 0 auto;
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: darkblue;
    color: #fff;
    cursor: pointer;
    transition: opacity .2s ease;
    opacity: .8;
}

.buttonClass:hover {
    opacity: 1;
}

.buttonClass:disabled {
    background-color: #222;
    cursor: not-allowed;
}